<div class = "container">
  <div class = "row">
    <div class="px-3 mx-auto">
       <h1 style="text-align:center"><strong>About</strong></h1>
        <p style="text-align:center">
          BookShelfは、いつでもどこでも本が読み放題のサイトです。</br>
          みなさんがより簡単にたくさんの本と出会えるように、</br>
          様々なバリエーションをご用意しております。</br>
          ぜひ、お楽しみください</br>
        </p>
     </div>
  </div>
</div>